<!DOCTYPE html>
<html>
<head>
	<title>CISC 3140 HW 3</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="icon.png">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<h1><img src="https://cultofthepartyparrot.com/parrots/hd/moonwalkingparrot.gif" id = "parrot">NASA's Astronomy Picture of the Day<img src="https://cultofthepartyparrot.com/parrots/hd/jediparrot.gif" id = "parrot"></h1>
	<!-- <img src="img.jpg" id = "center"> -->
	<img src="{{ picture }}" id = "center" alt="Where is the picture of the day?">
	<h2>What is the purpose of this website?</h2>
	<p>This website builds upon <a href="https://github.com/PokeLegoCuber/CISC3140-HW1">my first assignment</a></p>
	<p>The purpose of this website was to get <a href="https://travis-ci.org/">Travis CI</a> and <a href="https://www.heroku.com/">Heroku</a> to connect to each other. Travis CI will setup your project's enviroment and checks if there are any errors. Once if successfully builds the enviroment it talks to Heroku and deploys your application onto the web!</p>
	<p>If it finds an error it'll halt and not deploy the appilcation.</p>
	<p>This website demos the use of <a href="https://palletsprojects.com/p/flask/" title="Flask Framework">Flask(Python Web Framework)</a> and the <a href="https://api.nasa.gov/api.html#apod" title="NASA APOD API">NASA Astronomy Picture of the Day(APOD) API</a></p>
	<p>The picture on this website changes everyday</p>
	<p>This was also my first time using the Flask Framework and an API</p>
	<br>
	<div style="text-align:center">
		<a href="https://github.com/PokeLegoCuber/CISC3140-HW3" id = "button" title="My GitHub">Project Page</a>
		<a href="https://github.com/PokeLegoCuber" id = "button" title="My GitHub">My GitHub</a>
	</div>
	
</body>
</html>
